body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#navbar {
  background: linear-gradient(135deg, #ecec96, #dc9090);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.nav-link,
.navbar-brand {
  color: rgb(48, 18, 18);
}
#welcome-section {
  background: rgb(241, 241, 178);
  height: calc(100vh - 60px);
  background-size: 100%;
}
#welcome-section .my-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#welcome-section .my-name h3 {
  font-weight: 300;
  font-size: 1.5rem;
  color: rgb(5, 73, 5);
}
#welcome-section .my-name h1 {
  font-size: 3rem;
  color: rgb(11, 56, 10);
}

.card img {
  width: 100%;
  min-height: 230px;
}

.btn {
  border-radius: 0 !important;
}

footer {
  background: linear-gradient(rgb(255, 255, 120), rgb(252, 132, 89));
  box-shadow: inset 2px 0px 3px rgba(0, 0, 0, 0.5);
  padding: 15px 0;
}

#profile-link {
  width: 50%;
  margin: 0px auto;
}

footer li a {
  font-size: 1.5rem;
  color: black;
  transition: all 0.4s ease;
}

.fab {
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
footer li a:hover {
  animation-name: color;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  transition: all 0.4s ease;
}

@keyframes color {
  0%{
    color: red;
  }
  50%{
    color: yellow;
  }
  100%{
    color: red;
  }
}
